<h1>Dev Office Hours</h1>
<p>Find me in app/views/static_pages/root.html.erb</p>

<ul id="orders"></ul>

<button type="submit" id="btn">Create Order</button>
<!--<form action="<%= create_checkout_session_path%>" method="post">
  <button type="submit">Purchase</button>
</form>-->
<button type="submit" form="checkout">Purchase</button>
<%= form_with url: create_checkout_session_path, id: 'checkout', style: 'visibilty: hidden'  do; end %>


<script charset="utf-8">
  const btn = document.querySelector('#btn');

  btn.addEventListener('click', function(e) {
    e.preventDefault();

    fetch('/orders', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        order: {
        status: 'paid',
        paid_at: 1641739300,
        stripe_id: `pi_123 ${new Date()}`,
        },
        authenticity_token: '<%= form_authenticity_token %>'
      })
    })
    .then(res => res.json())
    .then(data => console.log('Success: ', data))
    .catch(error => console.error('Error: ', error))
  })

  const ordersUl = document.getElementById('orders');
  fetch('/orders')
  .then(res => res.json())
  .then(orders => {
    console.log(orders)
    orders.forEach(order => {
      ordersUl.innerHTML += `<li>${order.id} from ${order.created_at}</li>`
    });
  })
  .catch(e => console.error(e))

   var createCheckoutSession = function(priceId) {
      return fetch("/stripe/create_checkout_session", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          priceId: priceId,
          // userId: userId
        })
      }).then(function(result) {
        return result.json();
      });
    };

    var stripe = Stripe('<%= Rails.application.credentials.stripe[:public_key] %>');

    document.getElementById('checkout').addEventListener('submit', function(e) {
      e.preventDefault();
      var element = e.target
      var productId = 'price_1KG41mFUSUvjNxGlkaLEznTX'//element.data("product-id");
      // var userId = '<%#@current_user.id %>';

      createCheckoutSession(productId).then(function(data) {
        // Call Stripe.js method to redirect to the new Checkout page
        stripe
          .redirectToCheckout({
            sessionId: data.session_id
          }).then(function (result) {
            return result.error.message;
          });
      });
    })
</script>